/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    height: 100vh;
    width: 80%;
    margin: auto;
    background-color: aqua;
}
.textComputer{
    margin-top: 20.5rem;
    text-align: center;
    
}

.imo img{
    margin: 8px;
    cursor: pointer;
}
.button button{
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
    background: #ff6b01f3;
    border-top-right-radius:20px ;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 10px 15px 12px rgba(0,0,0,0.1);

}
.button button:hover{
    background: #ff6b01d5;
}
.button button:active{
    background: #ff6b01;
}
.computer img{
    width: 10%;
    height: 10%;
    object-fit: cover;
}

    
    
 */
